/*@import a Google Font here!*/

body {
	background-image: url('../images/background.png');
}

#container {
	width: 540px;
	margin: 0 auto;
}

.dashed {
	width: 200px;
	border: 1px dashed pink;
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;
	background-color: white;
}

.left-container, .right-container {
	display: inline-block;
	width: 250px;
	margin: 10;
	border: 1px solid blue;
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;
	background-color: white;
}

h1 {
	
}