/*@import a Google Font here!*/

body {
	background-image: url('../images/background.png');
}

ul {
	list-style: none;
	padding-left: 0px;
}

li {
	list-style-type: none;
	margin: 40px;
	border: 2px dashed pink;
	border-radius: 50px;
}

#container {
	width: 1000px;
	margin: 0px auto;
	text-align: center;
}

.dashed {
	width: 350px;
/*	border: 2px dashed pink;
	border-radius: 50px;*/
	text-align: center;
	margin: 20px 20px;
	background-color: white;
}

.left-container, .right-container {
	display: inline-block;
	width: 400px;
	margin: 10;
	border: 2px solid lightblue;
	border-radius: 50px;
	text-align: center;
	margin: 20px;
	padding: 20px;
	background-color: white;
	color: black;
	vertical-align: top;
}

h1 {
	
}